*{
    box-sizing: border-box;
}
hero{
    font-family: sans-serif;
    width: 1440px;
    height: 1161px;
    display: flex;
    position: relative;
}
.nav{
    color: #505F98;
}
.nav a {
    text-decoration: none;
    margin-left: 60px;
}
h3{
    color: #37447E;
}
button{
    background:  #111B47;
    color: white;
    width: 160px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    justify-items: center;
    border: solid red 1px;
    align-items: center;
    position: absolute; b
    
}

.imagec1{
    display: flex;
justify-items: end;
position: absolute;
right: 0px;
top: 0px;
}
.imagec2{
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}